
.friendsSearching__container {
  display: flex;
  flex-direction: column;

}

.friendsSearching__form {
  position: relative;
  max-width: 100%;
  margin-right: 200px;
  margin-left: 200px;
}

@media screen and (max-width: 900px) {
  .friendsSearching__form {
  margin-right: 100px;
  margin-left: 100px;
  }
}

@media screen and (max-width: 700px) {
  .friendsSearching__form {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 500px) {
  .friendsSearching__form {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 400px) {
  .friendsSearching__form{
    margin-right: 0;
    margin-left: 0;
  }
}

.AllMyFriendsPageAndSerching__input {
  width: 100%;
  height: 55px;
  list-style-type: none;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding-left: 60px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
}

.friendsSearching__input:hover {
  opacity: 0.5;
  border: 2px solid  black;
  
}

.AllMyFriendsPageAndSerching__input-loop-btn {
  background-image: url(../../../images/loop.svg);
  background-position: center;
  width: 23px;
  height: 23px;
  object-fit: cover;
  position: absolute;
  right: 15px;
  top: 17px;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
  border: none;
}

.AllMyFriendsPageAndSerching__input-loop-btn:hover {
opacity: 0.6;
border-radius: 50%;
}

.allfriendsSearching__title {
  color: black;
  margin-left: 200px;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 900px) {
  .allfriendsSearching__title {
  margin-left: 100px;

  }
}


@media screen and (max-width: 700px) {
  .allfriendsSearching__title {
    margin-left: 20px;
  }
}

@media screen and (max-width: 500px) {
  .allfriendsSearching__title {
    margin-left: 10px;
  }
}

@media screen and (max-width: 400px) {
  .allfriendsSearching__title {
    margin-left: 0;
  }
}

.allfriendsSearching__error-message {
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 0;
  color: rgb(181, 71, 71);
}

.friendsSearching__input-all-btn {
  position: absolute;
  left: 15px;
  top: 17px;
  width: 30px;
  height: 23px;
  font-size: 10px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: transparent;
  color: black;
  cursor: pointer;
  transition: 1s;
}

.friendsSearching__input-all-btn:hover {
  background-color: black;
  color: #fff;
  transition: 1s;
}

.allfriendsSearching__subtitle-without-subscribe {
  display: flex;
  margin: auto;
}

.friendsSearching__loading {
  display: flex;
  margin: auto;
}