
.price-category__field {
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    grid-template-rows: auto;
    gap: 15px;
    margin: auto;
    margin-bottom: 50px;
    padding: 0;
    box-sizing: border-box;
  }

  @media screen and (max-width: 650px) {
    .price-category__field {
      margin-bottom: 0;
      gap: 10px;
    }
  }

.price-category__container {
  height: 150px;
  list-style-type: none;
  background-color: rgb(244, 236, 251);
  color: black;
  border-radius: 10px;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
  justify-content: center;
  font-size: 12px;
  font-weight: 500px;
  cursor: pointer;
  align-items: center;

}

.price-category__container:hover {
  border: 2px solid black;
}

@media screen and (max-width: 600px) {
    .price-category__container {
      height: 120px;
    }
}

.price-category__price-title {
    text-align: center;
    margin: 0;
    color: #fff;
}  

.price-category__amount {
    text-align: center;
    margin: 0;
    color: #fff;
}

.price-category__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price-category__message-empty-array {
  text-align: center;
  max-width: 880px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
}

@media screen and (max-width: 600px) {
  .price-category__message-empty-array {
    margin-top: 80px;
  margin-bottom: 80px;
  }
}

.price-category__container-quantity {
  margin-top: 5px;
}

.price-category__container-cost {
  margin-bottom: 0;
}