.promo__container {
  max-width: 880px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;

  padding: 0;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 465px) {
  .promo__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.promo__text-container {
    background-color: #cd6bdc;
    opacity: 0.6;
    width: 240px;
    height: 240px;
    border: 4px dotted #b947ca;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 5px;
    position: relative;
   
}

@media screen and (max-width: 970px) {
  .promo__text-container {
    width: 200px;
    height: 200px;
    margin: 5px;
  }
}

@media screen and (max-width: 660px) {
  .promo__text-container {
    width: 170px;
    height: 170px;
  }
}
/*//new*/
@media screen and (max-width: 610px) {
  .promo__text-container {
    height: 200px;
    
    border-radius: 30px;
    margin-bottom: 10px;
  }
}
/*
@media screen and (max-width: 550px) {
  .promo__text-container {
    width: 130px;
    height: 130px;
    margin: 2px;
  }
}

@media screen and (max-width: 460px) {
  .promo__text-container {
    width: 120px;
    height: 120px;
    margin: 2px;
  }
}*/

@media screen and (max-width: 465px) {
  .promo__text-container {
    width: 96%;
    max-height: 100px;
    border-radius: 30px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }
}

.promo__text-container:first-of-type {
  margin-left: 0;
}

.promo__text-container:last-of-type {
  margin-right: 0;
}

.promo__text {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  /*margin: 15px;*/
}

@media screen and (max-width: 970px) {
  .promo__text {
    font-size: 12px;
  }
}/*
@media screen and (max-width: 600px) {
  .promo__text {
    font-size: 10px;
  }
}

@media screen and (max-width: 550px) {
  .promo__text {
    font-size: 8px;
  }
}

@media screen and (max-width: 425px) {
  .promo__text {
    font-size: 10px;
  }
}*/

.promo__hurt-arrow {
  position: absolute;
  bottom: 5px;
  right: -50px;
  width: 100px;
  height: 80px;
  background-size: cover;
  background-image: url(../../../../images/hurtarrow.png);
}

@media screen and (max-width: 850px) {
  .promo__hurt-arrow {
    bottom: -15px;
    right: -50px;
  }
}

@media screen and (max-width: 550px) {
  .promo__hurt-arrow {
    bottom: -50px;
    right: -50px;
  }
}

.promo__arrow {
  position: absolute;
  bottom: 100px;
  right: -20px;
  width: 100px;
  height: 70px;
  background-size: cover;
}

.promo__friend-text {
  color: black;
  opacity: 0.7;
  font-size: 16px;
  
  font-weight: 500;

}

@media screen and (max-width: 600px) {
  .promo__friend-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 490px) {
  .promo__friend-text {
    font-size: 12px;
  }
}

.promo__pic {
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  border: 3px dotted #fff;
}

@media screen and (max-width: 900px) {
  .promo__pic {
    height: 200px;
  }
}

@media screen and (max-width: 700px) {
  .promo__pic {
    height: 150px;
  }
}

@media screen and (max-width: 500px) {
  .promo__pic {
    height: 120px;
  }
}

@media screen and (max-width: 450px) {
  .promo__pic {
    height: 100px;
  }
}

@media screen and (max-width: 350px) {
  .promo__pic {
    height: 80px;
  }
}

.promo__text-pic-container {
  background-color: #cd6bdc;
  opacity: 0.8;
  border: 4px dotted #b947ca;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
}

.promo__only-text-container {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 700px;

  text-align: center;
}

@media screen and (max-width: 980px) {
  .promo__only-text-container {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .promo__only-text-container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 700px) {
  .promo__only-text-container {
    
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 560px) {
  .promo__only-text-container {
    margin-top: 35px;
    margin-bottom: 35px;
  }
}

.promo__pic-container {
  max-width: 880px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  .promo__pic-container {
    gap: 3px;
  }
}

.promo__title {
  font-size: 24px;
  width: 880px;
  margin: auto;
  margin-top: 30px;
}

@media screen and (max-width: 960px) {
  .promo__title {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .promo__title {
    font-size: 18px
  }
}

@media screen and (max-width: 450px) {
  .promo__title {
      font-size: 16px;
  }
}