.myPage_profile-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 25px;
  max-width: 880px;
}

@media screen and (max-width: 350px) {
  .myPage_profile-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.myPage_inf-container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 450px) {
  .myPage_inf-container {
    max-width: 180px;
  }
}

@media screen and (max-width: 350px) {
  .myPage_inf-container {
    max-width: 100%;
    
    margin-top: 25px;
  }
}

.myPage_inf {
  color: black;
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}

.myPage_inf:last-of-type{
  margin-bottom: 0;
}

@media screen and (max-width: 750px) {
  .myPage_inf {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .myPage_inf {
    font-size: 12px;
  }
}

.myPage_img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid black;
  cursor: pointer;
  object-fit: cover;
}

@media screen and (max-width: 950px) {
  .myPage_img {
    width: 250px;
    height: 250px;;
  }
}

@media screen and (max-width: 600px) {
  .myPage_img {
    width: 200px;
    height: 200px;;
  }
}

@media screen and (max-width: 450px) {
  .myPage_img {
    width: 130px;
    height: 130px;
  }
}  

/*new part*/

.myPage_manage-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 50px;
  max-width: 880px;
}

.myPage_addBTN-container {
  display: flex;
  
  justify-content: space-between;
}

.myPage__subtitle {
  color: #fff;
}
/*add new dream button*/

.myPage_addBTN-container {
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}
.myPage_addBTN {
  min-width: 269px;
  height: 35px;
  background-color: black;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  border: none;
  transition: 0.5s ease;
}

.myPage_addBTN:hover {
  border: 1px solid black;
  background-color: transparent;
  color: black;
  transition: 0.5s ease;
}

@media screen and (max-width: 355px) {
  .myPage_addBTN {
    min-width: 200px;
    font-size: 14px;
  }
}


.myPage_viewBTN-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  
}

@media screen and (max-width: 800px) {
  .myPage_viewBTN-container {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .myPage_viewBTN-container {
    width: 130px;
  }
}

.myPage_view-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.5s ease;
}

.myPage__link {
  text-decoration: none;
  color: black;
  margin-left: 0;
  text-align: start;
  margin-bottom: 15px;
  transition: 0.5s ease;
}

.myPage__link:hover {
  transition: 0.5s ease;
  opacity: 0.5;
}

.myPage__link:first-of-type {
  margin-top: 15px;
}

.myPage_view-link-text {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 750px) {
  .myPage_view-link-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .myPage_view-link-text {
    font-size: 12px;
  }
}
/*change avatar btn*/
.myPage_img-btn {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: flex-start;
}

/*add more buttons*/

.myPage__container-add-more-to-the-page {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.myPage__add-more-to-the-page {
  width: 115px;
  height: 35px;
  background-color: black;
  color: #fff;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
}

.myPage__add-more-to-the-page:first-of-type {
  margin-right: 25px;
}

.myPage__add-more-to-the-page:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  transition: 0.5s ease;
}

@media screen and (max-width: 350px) {
  .myPage__add-more-to-the-page:first-of-type {
    margin-right: 15px;
  }
}

.myPage__container-about-empty-arr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
  max-width: 880px;
  margin: auto;
}

.myPage__message-about-empty-arr {
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 500px) {
  .myPage__message-about-empty-arr {
    margin-top: 15px;
  }
}

.myPage__arrow-img {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 500px) {
  .myPage__arrow-img {
    width: 60px;
    height: 60px;
  }
}