.myPage_profile-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 50px;
  max-width: 880px;
}
.myPage_inf-container {
  display: flex;
  flex-direction: column;
}

.myPage_inf {
  color: #08341F;
  cursor: pointer;
  margin-top: 0;
}

.myPage_inf:hover {
  color: aqua;
}

.myPage_img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid #ff6838;
  cursor: pointer;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .myPage_img {
    width: 200px;
    height: 200px;;
  }
}

@media screen and (max-width: 450px) {
  .myPage_img {
    width: 150px;
    height: 150px;
  }
}  

@media screen and (max-width: 350px) {
  .myPage_img {
    width: 100px;
    height: 100px;
  }
}

/*new part*/

.myPage_manage-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 50px;
  max-width: 880px;
}

.myPage_addBTN-container {
  display: flex;
  
  justify-content: space-between;
  /*width: 250px;*/
}
/*
@media screen and (max-width: 800px) {
  .myPage_addBTN-container {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .myPage_addBTN-container {
    width: 130px;
  }
}*/

.myPage__subtitle {
  color: #fff;
}

.myPage__title {
    color: #fff;
    max-width: 880px;
    margin: auto;
    margin-bottom: 15px;
}

.myPage_addBTN {
 /* width: 100%;
  height: 95px;
  background-color: #ff6838;
  border-radius: 5%;
  cursor: pointer;
  color: #fff;
  border: none;*/
  width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 0;
    margin-bottom: 20px;
    height: 56px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-align: center;
    border: 3px solid #ff6838;
    background-image: linear-gradient(
    to right,
    #ed6ea0,
    #ec8c69,
    #f7186a,
    #fbb03b
  );
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.myPage_addBTN:hover {
  opacity: 0.8;
}

@media screen and (max-width: 450px) {
  .myPage_addBTN {
    width: 150px;
    font-size: 14px;
  }
}

@media screen and (max-width: 360px) {
  .myPage_addBTN {
    width: 130px;
  }
}

.myPage_viewBTN-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  
}

@media screen and (max-width: 800px) {
  .myPage_viewBTN-container {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .myPage_viewBTN-container {
    width: 130px;
  }
}
/*
.myPage_view-link-container {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 0;
    margin-bottom: 15px;
    
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
    to right,
    #ed6ea0,
    #ec8c69,
    #f7186a,
    #fbb03b
  );
  border: 3px solid #ff6838;
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.myPage_view-link-container:hover {
  opacity: 0.8;
}

@media screen and (max-width: 450px) {
  .myPage_view-link-container {
    width: 150px;
    font-size: 14px;
  }
}

@media screen and (max-width: 360px) {
  .myPage_view-link-container {
    width: 130px;
  }
}
*/
.myPage_view-link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

/*add btn*/
.myPage__addBTN {
  width: 400px;
  height: 50px;
  border-radius: 5px;
  /*border: 5px solid #ff6838;*/
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #ff6838;
  padding-top: 15px;
  padding-bottom: 20px;
  cursor: pointer;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  
}

@media screen and (max-width: 800px) {
  .myPage__addBTN {
    width: 300px;
  }
}

@media screen and (max-width: 500px) {
    .myPage__addBTN {
      width: 200px;
    }
}

.myPage__addBTN:hover{
    opacity: 0.5;
}

.myPage__link {
  text-decoration: none;
  color: #fff;
  margin-left: 0;
  margin-bottom: 10px;
  text-align: start;
}

.myPage_view-link-text {
  margin: 0;
}

.myPage_img-btn {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
}