.dreamsField__field {
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    grid-template-rows: auto;
    gap: 15px;
    margin: auto;
    margin-bottom: 50px;
    padding: 0;
    box-sizing: border-box;
  }

  @media screen and (max-width: 650px) {
    .dreamsField__field {
      margin-bottom: 0;
      gap: 10px;
    }
  }

  @media screen and (max-width: 450px) {
    .dreamsField__field {
      grid-template-columns: repeat(2, 1fr);
    }
  }


.dreamsField__noOneDreamInCategory-Message {
  text-align: center;
  margin-top: 100px;
}  