.dreamsField__field {
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-template-rows: auto;
    gap: 17px;
    margin: auto;
    margin-bottom: 50px;
    padding: 0;
    box-sizing: border-box;
  }
  
  @media screen and (max-width: 600px) {
    .dreamsField__field {
      margin-left: 50px;
      margin-right: 50px;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }

  @media screen and (max-width: 450px) {
    .dreamsField__field {
      margin-left: 10px;
      margin-right: 10px;
      /*grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));*/
    }
  }

  @media screen and (max-width: 400px) {
    .dreamsField__field {
      margin-left: 10px;
      margin-right: 10px;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
  }