.my-friends-page__profile-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 25px;
    max-width: 880px;
  }

@media screen and (max-width: 350px) {
  .my-friends-page__profile-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

  .my-friends-page__inf-container {
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (max-width: 450px) {
    .my-friends-page__inf-container {
      max-width: 180px;
      justify-content: space-between;
    }
  }
  
  @media screen and (max-width: 350px) {
    .my-friends-page__inf-container {
      max-width: 100%;
      margin-top: 25px;
    }
  }

  .my-friends-page__inf-link-text {
    color: black;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
  }

  @media screen and (max-width: 600px) {
    .my-friends-page__inf-link-text {
     margin-top: 0;
    }
  }
  
  .my-friends-page__inf {
    color: black;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
  }
  
  @media screen and (max-width: 600px) {
    .my-friends-page__inf {
     margin-top: 0;
    }
  }

  .my-friends-page__img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /*border: 3px solid black;*/
  cursor: pointer;
  object-fit: cover;
}

@media screen and (max-width: 950px) {
  .my-friends-page__img {
    width: 250px;
    height: 250px;;
  }
}

@media screen and (max-width: 600px) {
  .my-friends-page__img {
    width: 200px;
    height: 200px;;
  }
}

@media screen and (max-width: 450px) {
  .my-friends-page__img {
    width: 130px;
    height: 130px;
  }
}
  
  /*new part*/
  
  .my-friends-page__inf-upcoming-events {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 50px;
    max-width: 880px;
    border-radius: 10px;;
    border: 5px solid black;
  }
  
  .my-friends-page__inf-upcoming-events-info {
    color: #fff;
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .my-friends-page__inf-upcoming-events-info:hover {
    opacity: 0.8;
  }

  .my-friends-page__inf-upcoming-events-date {
    color: #fff;
    margin-left: 5px;
    margin-bottom: 5px;
  }
/*Отправить кнопку под картинку с фоткой  */


.my-friends-page__container-btn {
  margin-top: 10px;
  width: 150px;
  align-self: center;
}

@media screen and (max-width: 350px) {
  .my-friends-page__container-btn {
    width: 100px;
  }
}

.my-friends-page__img-container {
  display: flex;
  /*flex-direction: column;*/
  align-items: flex-start;
}

.my-friends-page__back-btn {
  background-color: transparent;
  border: none;
  color:black;
  margin-bottom: 5px;
  padding: 0;
  align-self: flex-start;
}

/*add/delete friend btn*/

.my-friends-page__add-friend-btn {
  width: 149px;
  height: 30px;
  color: black;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 700px;
  cursor: pointer;
}

.my-friends-page__add-friend-btn:hover {
  color: #fff;
  background-color: black;
}

.my-friends-page__date-info {
  border-radius: 10px;
  border: 1px solid black;
  background-color: transparent;
  text-align: center;
  font-size: 12px;
  font-weight: 500px;
  max-width: 880px;
  margin: auto;
}

.my-friends-page__filter-btn-container {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;
  
}

.my-friends-page__filter-btn {
  cursor: pointer;
  border-radius: 50px;
  background-color: black;
  color: #fff;
  width: 142px;
  height: 30px;
  border: none;
  font-size: 12px;
}

.my-friends-page__filter-btn:first-of-type {
  margin-right: 25px;
}

.my-friends-page__filter-btn:hover {
  opacity: 0.8;
}

.my-friends-page__container-remind {
  display: flex;
  text-align: center;
  max-width: 880px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .my-friends-page__container-remind {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.my-friends-page__message-about-empty-arr {
  font-size: 12px;
  margin: 0;

}

.my-friends-page__remind-btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 12px;
  border: 1px solid black;
  color: black;
  border-radius: 50px;
  width: 100px;
  height: 30px;
  margin-left: 10px;
  transition: 0.5s;
}

.my-friends-page__remind-btn:hover {
  background-color: black;
  color: #fff;
  transition: 0.5s;
}

.my-friends-page__loading {
  margin: auto;
  text-align: center;
  opacity: 0.7;
}

.my-friends-page__date {
  font-weight: 600;
  font-size: 12px;
}

.my-friends-page__inf-link {
  text-decoration: none;
}

/*my-friends-page__inf*/