.main__container {
    position: relative;
    max-width: 880px;
    max-height: 500px;
    min-height: 180px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.main__pic {
    max-width: 100%;
    max-height: 100%;
    opacity: 0.9;
}

.main__title-container {
    position: absolute;
    top: 100px;
    left: 50px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    
}

@media screen and (max-width: 1000px) {
    .main__title-container {
        top: 80px;
        left: 40px;
    }
}

@media screen and (max-width: 800px) {
    .main__title-container {
        top: 60px;
        left: 40px;
    }
}

@media screen and (max-width: 700px) {
    .main__title-container {
        top: 40px;
        
    }
}

@media screen and (max-width: 530px) {
    .main__title-container {
        top: 30px;
        left: 30px;
    }
}

@media screen and (max-width: 490px) {
    .main__title-container {
        top: 25px;
        left: 25px;
    }
}

@media screen and (max-width: 450px) {
    .main__title-container {
        top: 20px;
        left: 20px;
    }
}

@media screen and (max-width: 340px) {
    .main__title-container {
        top: 15px;
        left: 15px;
    }
}

.main__title {
    color: #fff;
    font-weight: 700;
    font-size: 26;
    margin-top: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 620px) {
    .main__title {
        font-size: 24px;
    }
}

@media screen and (max-width: 570px) {
    .main__title {
        font-size: 22px;
    }
}

@media screen and (max-width: 450px) {
    .main__title {
        font-size: 20px;
    }
}

@media screen and (max-width: 355px) {
    .main__title {
        font-size: 18px;
    }
}

@media screen and (max-width: 320px) {
    .main__title {
        font-size: 16px;
    }
}

@media screen and (max-width: 310px) {
    .main__title {
        font-size: 14px;
    }
}

.main__subtitle {
    color: #fff;
    font-weight: bold;
    font-size: 20;
    width: 300px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 850px) {
    .main__subtitle {
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .main__subtitle {
        font-size: 16px;
        margin-bottom: 15px;
        margin-top: 0;
    }
}

@media screen and (max-width: 570px) {
    .main__subtitle {
        font-size: 14px;
    }
}

@media screen and (max-width: 450px) {
    .main__subtitle {
        font-size: 12px;
        width: 200px;
    }
}

@media screen and (max-width: 380px) {
    .main__subtitle {
        width: 150px;
    }
}

@media screen and (max-width: 330px) {
    .main__subtitle {
        font-size: 10px;
    }
}

.main__subtitle-link {
    text-decoration: none;
    cursor: pointer;
    width: 170px;
    height: 45px;
    border-radius: 50px;
    background-color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 1s;
    opacity: 0.7;
}

.main__subtitle-link:hover {
    opacity: 0.9;
    transition: 1s;
    box-shadow: 3px 3px 3px rgb(86, 3, 101);
    height: 42px;
}

@media screen and (max-width: 800px) {
    .main__subtitle-link {
        height: 38px;
    }
}

@media screen and (max-width: 500px) {
    .main__subtitle-link {
        height: 30px;
        width: 130px;
    }
}

.main__subtitle-btn {
    color: rgb(214, 137, 233);
    font-weight: 500;
    font-size: 14px;
}

@media screen and (max-width: 800px) {
    .main__subtitle-btn {
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    .main__subtitle-btn {
        font-size: 10px;
    }
}
