.footer__container {
  height: 32px;
  margin: auto;
  margin-bottom: 0;
  margin-top: 25px;
  width: 880px;
  display: flex;
  
  justify-content: flex-end;
  align-items: flex-end;
}

@media screen and (max-width: 980px) {
  .footer__container {
    width: 100%;
  }
}

.footer__text {
  color: black;
  margin: 0;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}

.footer__text:hover {
  opacity: 0.5;
}