.footer__container {
  height: 32px;
  margin-bottom: 0;
  margin-top: 25px;
  max-width: 880px;
  align-self: flex-end;
  display: flex;
  justify-content: end;
  align-items: flex-end;

}

.footer__text {
  color: black;
  margin: 0;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}

.footer__text:hover {
  opacity: 0.5;
}