.footer__container {
  display: flex;
  justify-content: space-between;
 
  
}

.footer__text {
  color: #08341F;
  font-size: 200;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.footer__text:hover {
    opacity: 0.8;
}