.register {
    display: flex;
    flex-direction: column;
   }
   
   .register__form {
     width: 396px;
     margin: auto;
     margin-bottom: 70px;
     display: flex;
     flex-direction: column;
   }
   
   @media screen and (max-width: 500px) {
     .register__form  {
       width: 300px;
       margin-bottom: 30px;
     }
   }
   
   @media screen and (max-width: 450px) {
     .register__form  {
       width: 260px;
     }
   }
   
   .register__logo {
      color: black;
      font-size: 1rem;
      text-decoration: none;
   }
   
   .register__logo:hover {
      opacity: 0.8;
   }

   .register__logolink {
      text-decoration: none;
   }

   
   .register__title {
     font-size: 24px;
     font-weight: 500;
     color: black;
     margin-bottom: 50px;
   }
   
   @media screen and (max-width: 450px) {
     .register__title  {
       margin: auto;
     }
   }
   
   .register__fieldset {
     display: flex;
     flex-direction: column;
     padding: 0;
     border: none;
     width: 100%;
     margin-top: 50px;
   }
   
   .register__inputname {
     color: black;
     font-weight: 400;
     font-size: 10px;
     margin-bottom: 10px;
     margin-top: 0;
   }
   
   .register__input {
     color: black;
     width: 100%;
     height: 46px;
     background-color: transparent;
     border: 1px solid black;
     border-radius: 10px;
     margin-top: 10px;
     margin-bottom: 0px;
     cursor: pointer;
     padding-left: 10px;
     padding-right: 10px;
     box-sizing: border-box;
   }
   
   .register__input:hover {
     border: 2px solid black;
   }
   
   .register__input::placeholder {
     color: black;
     padding-left: 15px;
   }
   
   .register__inputwrong {
     width: 100%;
     height: 46px;
     background-color: transparent;
     border: 1px solid black;
     border-radius: 10px;
     margin-top: 10px;
     margin-bottom: 0;
     cursor: pointer;
   }
   
   .register__inputwrong:hover {
     border: 2px solid black;
     border-radius: 10px;
   }
   
   
   .register__input:last-of-type {
     margin-bottom: 0px;
   }
   
   @media screen and (max-width: 450px) {
     .register__input {
       width: 100%;
       height: 46px;
     }
   }
   
   .register__btn_active {
     background-color: black;
     color: #ffffff;
     width: 100%;
     height: 45px;
     border: none;
     margin-top: 70px;
     border-radius: 50px;
     padding: 0;
     font-weight: 400;
     font-size: 14px;
     cursor: pointer;
     transition: 1s ease;
     opacity: 1;
   }
   
   @media screen and (max-width: 450px) {
     .register__btn_active {
       width: 100%;
       font-size: 12px;
     }
   }
   
   .register__btn_active:hover {
     transition: 1s ease;
     opacity: 0.5;
   }
   
   .register__btn {
       color: #ccc;
       border: 1px solid #ccc;
       opacity: 0.7;
       width: 100%;
       height: 45px;
       background-color: transparent;
       margin-top: 70px;
       border-radius: 50px;
       padding: 0;
       font-weight: 400;
       font-size: 14px;
       transition: 1s ease;
   }
   
   @media screen and (max-width: 450px) {
     .register__btn {
       width: 100%;
       font-size: 12px;
     }
   }
   
   .register__entrylink {
     cursor: pointer;
     color: black;
     font-weight: 400;
     font-size: 12px;
     text-decoration: none;
     margin-left: 3px;
     transition: 0.5s;
   }
   
   .register__entrylink:hover {
     transition: 0.5s;
     font-weight: 600;
   }
   @media screen and (max-width: 450px) {
    .register__entrylink  {
      font-size: 10px;
    }
  }
   
   .register__wrapper {
     display: flex;
     justify-content: center;
   }
   
   .register__subtitle {
  /*   color: #A0A0A0;*/
     color:black;
     font-weight: 400;
     font-size: 14px;
     margin-top: 16px;
     /*margin-bottom: 70px;*/
     margin-bottom: 30px;
   }

.register__inputname-span {
  color: #ff6838;
}   

.register__inputmistake {
  font-size: 10px;
  margin-top: 0;
  margin-bottom: 10px;
  color: rgb(181, 71, 71);
}
