.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #fff;
  padding: 50px;
  padding-top: 0;
  padding-bottom: 10px;
  font-family: 'Inter';
}

@media screen and (max-width: 800px) {
  .App {
    padding: 25px;
    padding-top: 0;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .App {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 10px;
  }
}

.App-container {
  width: 880px;
  min-height: 100vh;
  margin: auto;
  position: relative;
  
  display: flex;
  flex-direction: column;

  border: 2px solid red; 
}

@media screen and (max-width: 780px) {
  .App-container {
    width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .App-container {
    width: 500px;
  }
}

/*
body {
  position: relative;
  min-height: 100vh;
}
footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
}
*/