.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 50px;
  padding-top: 0;
  padding-bottom: 0;
  font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 800px) {
  .App {
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .App {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
