
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 0;
  margin-bottom: 50px;
  min-width: 880px;
  height: 40px;
}

@media screen and (max-width: 1000px) {
  .header_container {
    margin-bottom: 25px;
    min-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .header_container {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 450px) {
  .header_container {
    margin-bottom: 15px;
  }
}

.header_logo {
  color: black;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  text-decoration: none;
}

@media screen and (max-width: 550px) {
  .header_logo {
    font-size: 12px;
    font-weight: 700;
  }
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 700;
}
.header_login-link {
  color: black;
  cursor: pointer;
  margin: 0;
  margin-left: 5px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
}
.header_login-link:hover{
  opacity: 0.5;
}

.header_registraion-link {
  color: black;
  cursor: pointer;
  margin: 0;
  text-decoration: none;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 700;
}
.header_registraion-link:hover{
  opacity: 0.5;
}

.header_LogOut-btn {
  color: black;
  cursor: pointer;
  margin: 0;
  margin-right: 10px;
  border: none;
  background-color: transparent;
  font-size: 12px;
  font-weight: 700;
}
