.oneFriendCard__container {
  min-width: 50px;
  height: 100px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.oneFriendCard__container:last-of-type {
  margin-right: 0;
}

.oneFriendCard__img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  object-fit: cover;
}

@media screen and (max-width: 400px) {
  .oneFriendCard__img {
    width: 50px;
    height: 50px;
  }
}
.oneFriendCard__inf-container {
  text-align: center;
  width: 70px;
}

@media screen and (max-width: 400px) {
  .oneFriendCard__inf-container {
    width: 50px;
  }
}

.oneFriendCard__inf {
  margin-bottom: 0;
  margin-top: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .oneFriendCard__inf {
    font-size: 12px;
    font-weight: 400;
  }
}