.conclusion__heart {
   background-image: url(../../../../images/redheart.png); 
   background-position: center;
   width: 50px;
   height: 50px;

   background-repeat: no-repeat;

   background-size: contain;

   margin: auto;
  }

.conclusion__title {
    text-align: center;
    font-weight: 500;
    width: 880px;
    margin: auto;
    margin-top: 30px;
}  

  @media screen and (max-width: 980px) {
    .conclusion__title{
      width: 100%;
    }
  }